<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="APPLICATION_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="FLUENT_BIT_ENABLED" source="logging.fluent-bit.enabled"/>
    <springProperty scope="context" name="FLUENT_BIT_ADDRESS" source="logging.fluent-bit.address"/>

    <springProfile name="docker">
        <if condition="${FLUENT_BIT_ENABLED}">
            <then>
                <appender name="FLUENT-BIT" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                    <destination>${FLUENT_BIT_ADDRESS}</destination>
                    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                        <providers>
                            <pattern>
                                <pattern>
                                    {
                                        "timestamp": "@timestamp",
                                        "level": "%level",
                                        "application": "${APPLICATION_NAME:-}",
                                        "trace": "%X{traceId:-}",
                                        "span": "%X{spanId:-}",
                                        "pid": "${PID:-}",
                                        "thread": "%thread",
                                        "class": "%logger{40}",
                                        "message": "%message"
                                    }
                                </pattern>
                            </pattern>
                        </providers>
                    </encoder>
                </appender>
                <root level="INFO">
                    <appender-ref ref="FLUENT-BIT"/>
                </root>
            </then>
        </if>
    </springProfile>

    <springProfile name="k8s">
        <appender name="FLUENT-BIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/var/log/${APPLICATION_NAME}/application.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>application.%d{yyyy-MM-dd}.log.gz}</fileNamePattern>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <pattern>
                        <pattern>
                            {
                                "timestamp": "@timestamp",
                                "level": "%level",
                                "application": "${APPLICATION_NAME:-}",
                                "trace": "%X{traceId:-}",
                                "span": "%X{spanId:-}",
                                "pid": "${PID:-}",
                                "thread": "%thread",
                                "class": "%logger{40}",
                                "message": "%message"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="FLUENT-BIT"/>
        </root>
    </springProfile>

    <logger name="org.zalando.logbook" level="TRACE" />
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
